{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block style
%}
<style>
  * {
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .home {
    /* background: linear-gradient(to top,rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%,url('./three.jpg')); */
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    /* background-image:url(''); */
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
  }
  .box {
    padding: 20px;
    background-color: rgba(92, 86, 23, 0.5);
    color: rgb(255, 255, 255);
    /* color: rgb(177, 36, 36); */
    width: 50%;
    margin-left: 25%;
  }
  .box button {
    padding: 20px 100px;
  }
  .box p {
    font-size: small;
  }
  img {
    float: left;
  }
  textarea {
    height: 40px;
    padding: 10px;
  }
  .post{
   background-color: rgb(112, 173, 44);
   text-align: left;
  }
</style>
{%endblock%} {% block body %}
<div class="home">
  <div class="box">
    <img src="{{session['photo']}}" alt="" />
    <h1>{{session['name']}}</h1>
    <h2>{{session['email']}}</h2>

    <form action="/logout">
      <input class="btn btn-dark type="submit" value="Logout" name="" id="">
    </form>
    <a href="/all_post"><button class="btn btn-dark">All Post</button></a>

    <div class="post">
      <p>Add New Post</p>
      <form action="/post" method="POST">
        <textarea name="post" id="" cols="30" rows="10"></textarea>
        <br />
        <input class="btn btn-dark" type="submit" name="" id="" />
      </form>
    </div>
   
  </div>
</div>
{% endblock %}
